
/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #151418;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo a span {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
.menu .btn {
  padding: 0.5rem 1rem;
  margin: 0 0 0 0.5rem;
  border: 1px solid #8739fa;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 17px;
}

.register {
  background-color: #8739fa;
  color: white;
  border: 1px solid #3398c7;
  border-radius: 5px;
}

.register:hover {
  background-color: #8739fa;
}

.login {
  background-color: white;
  color: #8739fa;
}

.login:hover {
  background-color: #8739fa;
  color: white;
  border: 1px solid #3398c7;
  border-radius: 5px;
}


/**********************home page start ***************************/

.container {
  width: 100%;
  min-height: 100vh;
  column-gap: 40px;
  padding: 60px 6%;
}

.container .side-info {
  margin: 20px 0;
}

.container .side-info span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
  color: #717171;
}

.container .side-info h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 56px;
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.container .side-info hr {
  display: block;
  background: #005baa;
  height: 4px;
  width: 20%;
  margin: 18px 0;
}

.container a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 50px;
  border: 2px solid #c2c2c2;
  padding: 8px 16px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.container a:hover {
  border: 2px solid #005baa;
  color: #005baa;
}

.container .swiper {
  width: 100%;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 20px !important;
}

.swiper-slide {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 10px;
  padding: 0 0 0 24px;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 24px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 20px 25px 50px !important;
  padding: 8px 16px !important;
  font-size: 14px;
  border: none;
}

.swiper-slide a:hover {
  border: none;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 10px;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.slide-one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://images.unsplash.com/flagged/photo-1551854716-8b811be39e7e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGluZGlhbiUyMHdlZGRpbmd8ZW58MHx8MHx8fDA%3D) no-repeat 50% 50% / cover;
}

.slide-two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://www.cbazaar.com/blog/wp-content/uploads/2019/07/11.jpg) no-repeat 50% 50% / cover;
}

.slide-three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://indiachalk.com/wp-content/uploads/2021/10/08-dusshera-image-india-chalk-2021-768x1024.jpg) no-repeat 50% 50% / cover;
}

.slide-four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://plus.unsplash.com/premium_photo-1689838027426-bf5cc3a0131f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat 50% 50% / cover;
}

/* Responsive Design */
@media (min-width: 800px) {
  .container {
    display: flex;
    align-items: center;
  }

  .container .side-info {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .container .side-info h1 {
    font-size: 46px;
  }

  .container .side-info p {
    font-size: 14px;
  }
}

/**********************home page end ***************************/


/**********************brand page start ***************************/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 7));
  }
}
.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  
}


/**********************brand page end ***************************/

/**********************features page start ***************************/

.tabs__buttons--container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.tabs__tab-btn {
  background: none;
  border: none;
  font-size: 30px;
  font-style: bold;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: solid 3px #2c1349;
}

.tabs__tab-btn--not-selected {
  border-bottom-color: #eeeeee;
}

.tabs__tab-btn:hover {
  background-color: #eeeeee;
  transition: 0.3s;
}

.tabs__tab--hide {
  display: none;
}

.tabs__tab--show {
  display: block;
}

.tabs__tab {
  animation: tabApear 0.6s;
}

@keyframes tabApear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


:root{
    --white:#FFF;
    --black:#000;
    --lite:rgba(255,255,255,0.6);
    --gray:rgba(1,1,1,0.6);
    --dark:#1e1e1d;
    --primary:#d6863a;
    --primary_dark:#93683f;
    --primary_lite:#ebab61;
}

::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}


/***************************
            DEFAULT
****************************/


figure{
    padding:0;
    margin:0;
}

a, p, .btn{
    font-size:15px;
}

p{
    line-height:1.9em;
    color:var(--gray);
}


.title, .sub_title{
    font-family:var(--title_font);
    font-weight:800;
    margin:0;
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
    position:relative;
}



.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}





@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
    
    .big{
        font-size:1.8em;
    }
    
    .medium{
        font-size:1.6em;
    }
    
    .small{
        font-size:1.1em;
    }
    
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p, .btn{
        font-size:12px;
    }
    
    .title_header{
        width:100%;
    }
}


/***************************
        ADDITIONAL
****************************/


@Media (max-width:520px){
    .additional{
        max-width:100%;
        width:100%;
        left:50%;
        transform:translate(-50%, 0);
        padding:1rem;
    }
}

.overlay{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    background-color:var(--gray);
    width:100%;
    height:100%;
}

#roll_back{
    position:fixed;
    bottom:2rem;
    right:2rem;
    background-color:var(--dark);
    border-radius:5px;
    border:2px solid var(--primary);
    padding:5px 10px;
    display:none;
    align-items:center;
    justify-content:center;
    z-index:11;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    color:var(--white);
    font-weight:900;
}


/***************************
           DIVISIONS
****************************/


/*DIVISION_2*/
.division_2 .flex_content:first-child{
    width:60%;
    text-align:center;
}

.division_2 figure{
    width:100%;
    position:relative;
    overflow:hidden;
}

.division_2 figure img{
    width:100%;
    object-fit:cover;
}

.division_2 .flex_content:first-child figure, .division_2 .flex_content:first-child figure img{
    height:100%;
}

.division_2 .flex_content:first-child figure figcaption{
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color:var(--white);
    color:var(--dark);
    z-index:1;
}

.division_2 .cards{
    flex-wrap:wrap;
}

.division_2 .cards .card{
    flex:1 1 100%;
    color:var(--dark);
}

.division_2 .cards .card img{
    max-height:50vh;
}

.division_2 .cards .card img, .division_2 .cards .card figcaption{
    flex:1 1 50%;
}

.division_2 .cards .card:nth-child(even){
    text-align:right;
}

@media (max-width:1420px){
    .division_2 .cards .card img{
        max-height:30vh;
    }
}

@media (max-width:1180px){
    .division_2{
        flex-wrap:wrap;
    }
    
    .division_2 .flex_content:first-child{
        width:100%;
    }
    
    .division_2 .flex_content:first-child figure img{
        display:none;
    }
    
    .division_2 .flex_content:first-child figure figcaption{
        position:relative;
        width:100%;
    }
    
    .division_2 .cards .card img{
        max-height:50vh;
    }
}
    

@media (max-width:520px){
    .division_2, .division_1{
        padding:0 !important;
    }
    
    .division_2 .cards .card{
        display:block;
        border-radius:10px;
        overflow:hidden;
    }
    
    .division_2 .cards .card:not(:last-child){
        margin-bottom:1rem;
    }
    
    .division_2 .cards .card img{
        max-height:100%;
        border-radius:10px;
    }
    
    .division_2 .cards .card figcaption{
        position:absolute;
        background-color:var(--white);
        bottom:0;
        left:50%;
        width:90%;
        border-radius:10px;
        bottom:1rem;
        transform:translate(-50%, 0%);
        text-align:center;
    }
    
    .division_2 .cards .card:nth-child(even){
        text-align:center;
    }
    
}


/**********************features page end***************************/


/**********************testnomial page start ***************************/


.wrapper{
  display: flex;
  height: 110vh;
  overflow-y: hidden;
}


.img{
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
}
.img img{
  width: 90%;
  margin: 30px;
}
.img .img-stripe{
  width: calc(50%-15px);
}
.img .stripe1{
  animation: stripe-one 60s ease 0s infinite;
} 
@keyframes stripe-one{
  
  50%{
      transform: translateY(-100%);
  }
}
.img .stripe2{
  transform: translateY(-100%);
  animation: stripe-two 60s ease 0s infinite;
} 

@keyframes stripe-two{
  50%{
      transform: translateY(0%);
  }

}



.wrapper1 {
  width: 30%;
  max-width: 400px;
  margin: 10% ;
}

.box {
  box-shadow: 0px 0px 10px #afc0d9;
  background-color: #fff;
  padding: 35px;
  border-radius: .25rem;
  
}


h1 {
  color: rgb(3, 17, 41);
  font-size: 37px;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 300;
}

input {
  border: 1px solid rgb(220, 219, 235);
  border-radius: 4px;
  font-size: 13px;
  padding: 10px;
  color: #000;
  transition: all .15s ease-in;
}

input[type=email] {
  width: 60%;
}

input[type=submit] {
  background-color: rgb(3, 17, 41);
  color: #fff;
  font-weight: bold;
  border: 1px solid transparent;
}

input[type=submit]::focus {
  border: 1px solid #fff;
}

input:focus {
  border-color: rgb(3, 17, 41);
  box-shadow: 0px 0px 8px 2px rgba(53, 114, 210, .5);
  outline: none;
}

input::placeholder {
  color: #999;
}

#subscribe-result p {
  margin-top: 35px;
}



/**********************testnomial page end ***************************/


/**********************faq page start ***************************/

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");


.accordion {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  max-width: 991px;
  min-width: 320px;
  margin: 50px auto;
  padding: 0 50px;
}
.accordion h1 {
  font-size: 32px;
  text-align: center;
}
.accordion-item {
  margin-top: 16px;
  border: 1px solid #fcfcfc;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
}
.accordion-item .accordion-item-desc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #444;
  border-top: 1px dashed #ddd;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
  display: block;
}
.accordion-item
  input[type="checkbox"]:checked
  ~ .accordion-item-title
  .icon:after {
  content: "-";
  font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
  content: "+";
  font-size: 20px;
}
.accordion-item:first-child {
  margin-top: 0;
}
.accordion-item .icon {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .accordion {
      padding: 0 16px;
  }
  .accordion h1 {
      font-size: 22px;
  }
}

/**********************faq page start ***************************/

/**********************footer page start ***************************/
#footer{
	background: #f7f7f7;
    padding: 3rem;
	/* padding-top: 5rem; */
	padding-top: 7rem;
    padding-bottom: 80px;
	background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}
#footer2{
	background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
	/* padding-top: 5rem; */
	padding-top: 7rem;
    padding-bottom: 80px;
	background-image: url(../images/cards/v748-toon-111.png);
}

.social-links h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.social-links img{
	padding-bottom: 25px;
}
.social-icons{
	/* display: flex;
    gap: 3rem; */
	display: flex;
    flex-direction: column;
    gap: 1rem;
	color: #777777;
}
.social-icons a{
	/* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
	color: #82074a; */
	/* margin-right: 18px; */
	color: #777777;
}
.social-icons a:hover{
	color: #000;
}
.social-icons a i{
	box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #151418;
	font-size: 16px;
	margin-right: 12px;
}
li{
	list-style: none;
}
.useful-link h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.useful-link img{
	padding-bottom: 15px;
}
.use-links{
	line-height: 32px;
}
.use-links li i{
	font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;
}
.use-links li a:hover{
	color: #000;
}
.address h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.address img{
	padding-bottom: 15px;
}
.address-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;

}
.address-links li i{
	font-size: 16px;
    padding-right: 8px;
	color: #151418;

}
.address-links li i:nth-child(1){
	padding-top: 9px;
}
.address-links .address1{
	font-weight: 500;
    font-size: 15px;
	display: flex;
}
.address-links{
	    line-height: 32px;
		color: #777777;
}
.copy-right-sec{
	padding: 1.8rem;
    background: #151418;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
	color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}


/**********************footer page end ***************************/